extends layout

block content
  h1 Edit #{widget.name}
  form(method="POST"
       action="/widgets/#{widget.sn}?_method=PUT"
       enctype="application/x-www-form-urlencoded")
    p Widget Name:
        input(type="text"
              name="widgetname"
              id="widgetname"
              size="25"
              value="#{widget.name}"
              required)
    p Widget Price:
       input(type="text"
             name="widgetprice"
             id="widgetprice"
             size="25"
             value="#{widget.price}"
             pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?$"
             required)
    p Widget Description:
       br
       textarea(name="widgetdesc"
                id="widgetdesc"
                cols="20"
                rows="5") #{widget.desc}
    p
       input(type="submit"
             name="submit"
             id="submit"
             value="Submit")
       input(type="reset"
             name="reset"
             id="reset"
             value="reset")

